.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 20px rgba(219, 84, 4, 0.8);
}
#Lebowski:hover {
  box-shadow: 0 0 20px rgba(196, 96, 150, 0.9);
}

.card img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.card p {
    opacity: .5;
}

#PNL:hover {
box-shadow: 0 0 20px rgba(160, 200, 212,1);
}


/*.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
}

.card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
}

.avatar-bordered {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
}

